:root {
  font-family: 'Courier New', Courier, monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background:
    linear-gradient(180deg, rgba(54, 186, 152, 1), rgba(54, 186, 152, .6));
}