:root {
  font-family: 'Courier New', Courier, monospace;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-gradient-top: rgb(120, 171, 168);
  --bg-gradient-bottom: rgba(172, 108, 223, .5);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background:
    linear-gradient(180deg, var(--bg-gradient-top), var(--bg-gradient-bottom));
}